.lp-navbar {
    padding: 0 .5rem;
    width: 100%;
    background-color: var(--main-color);
    background: linear-gradient(90deg, rgba(31, 44, 211, 1) 50%, rgba(17, 12, 159, 1) 100%);
}

.stitle::after {
    bottom: 0;
    left: 75%;
    transform: translateX(-50%);
    width: 40%;
}

.stitle2::after {
    width: 50%;
}

.section1 {
    margin-top: var(--section-margin);

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section1 .left {
    width: 50%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
}

.section1 .mb-title {
    margin-bottom: 1.5rem;
}

.section1 .left p {
    font-size: var(--big);
}

.action {
    margin-top: 1.5rem;
    padding: .8rem 1.2rem;

    background-color: var(--main-color);
    background: var(--action-btn-lr);
    color: var(--txt2);
    border-radius: 14px;

    font-weight: 700;
    font-size: var(--big);
    text-transform: capitalize;
}

.circle-icon {
    margin-right: 1rem;
    padding: .4rem .7rem;

    color: var(--main-color);
    background-color: var(--txt2);
    border-radius: 50%;
    font-size: 1.2rem;
}

.section1 .right {
    width: 40%;
}

.section1 .right img {
    width: 100%;
    object-fit: contain;
}

/* ***************************** */

.section2 {
    margin-top: var(--section-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 p {
    margin-top: 2rem;
    width: 80%;

    font-size: var(--big);
    line-height: var(--big);
}

/* ****************************** */

.section3 {
    margin-top: var(--section-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-social-links {
    margin-top: 1.5rem;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.s3-social-links a i {
    color: var(--main-color);
    font-size: var(--x-big);
}