:root {
    --img-height: 0;
    --div-height: 25vh;
    --mb-carousel-height: max(100vh, 700px);
    --mb-hero-circle-height: max(100vh, 700px);
    --mb-hero-height: 100%;
    --mb-hero-right-height: 45%;
    --section1-height: auto;
    --go-down-pos: 90%;
    --s2-body-height: 52rem;

    --section-margin: 150px;
    --ssection-margin: 150px;

    --s2-right: 5%;
    --s2-left: 5%;
}

html {
    width: 100vw;
}

body {
    background-color: white;
    overflow-x: hidden !important;
    width: 100vw;
}

.line-nowrap {
    width: 100%;
    white-space: nowrap;
    display: block;
}

/* ************************************* */

.loader {
    background-color: white;
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid white;

    animation: spin 1s linear infinite;
}

.hide-overflow {
    overflow: hidden !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ****************************** */

.mb-title {
    padding: 0 0 10px 0;

    font-size: var(--xx-big);
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    font-weight: 800 !important;
    white-space: nowrap;
}

.mb-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--main-color);
    width: 90%;
    height: .5rem;
    border-radius: 1rem;
}

/* ********************************* */

.hero-wrapper {
    width: 100vw;
    background-color: var(--main-color);
    background: var(--circle-lr);
    font-size: var(--parent-default);
}

.lp-mobile-nav {
    display: none;
}

.lp-nav-btn {
    display: none;
}

.lp-navbar {
    margin: 0 auto;
    font-size: var(--default);
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    /* font  */
    font-size: var(--big);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--txt2);

    /* image  */
    height: 6rem;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.lp-navlinks {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    font-size: var(--default);
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--txt2);
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mb-login {
    padding: .3rem 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;

    border: 2px solid var(--txt2);
    border-radius: 9px;

    color: var(--txt2);

    font-weight: 400;
    font-size: var(--default);
    text-transform: capitalize;
}

.mb-rq {
    padding: .3rem 1rem;

    background-color: var(--txt2);
    border-radius: 9px;

    color: var(--main-color);

    font-weight: 700;
    font-size: var(--default);
}

.hero {
    margin: 3rem auto 0 auto;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.hero .left {
    width: 45%;

    color: var(--txt2);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main-mb-title {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: var(--x-big);
    font-weight: 800;
}

.hero .left>p {
    font-size: var(--big);
    line-height: 1.1em;
    font-weight: 300;
}

.hbtns {
    margin-top: 20px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .action-btn {
    font-size: var(--default);
    text-transform: capitalize;
    background-color: var(--txt2);
    color: var(--main-color);
    padding: .4em 1em;
    border-radius: 2rem;
    font-weight: 600;
}

.hero .action-btn2 {
    font-size: var(--default);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 300;
}

.hero .action-btn i,
.hero .action-btn2 i {
    margin-right: 10px;
}

.hero .ratings {
    font-size: var(--default);
    margin-top: 1rem;
    width: fit-content;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: 1px solid var(--txt2);
    border-radius: 9px;
}

.hero .stars {
    color: var(--yellow);
}

.hero .stars i {
    font-size: var(--small);
    margin-left: -3px;
}

.hero .ratings p {
    font-weight: 300;
    font-size: var(--small);
}

.hero .right {
    width: 45%;
}

.hero .right img {
    width: 100%;
    object-fit: cover;
}

/*  */

.hero .right {
    width: 45%;
    height: var(--mb-hero-right-height);

    position: relative;
}

.hero .inputs {
    width: .1px !important;
    height: .1px !important;

    display: inline !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;

    pointer-events: none !important;
    opacity: 0 !important;
}

/* ******************************************** */

.section1 {
    margin-top: var(--section-margin);
    height: var(--section1-height);
    font-size: var(--parent-default);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;
}

.section1 .left {
    line-height: var(--xx-big);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.section1 h2::before {
    content: '?';
    position: absolute;
    top: -20px;
    right: -0.75em;
    transform: rotate(20deg);

    color: var(--main-color);
    font-weight: 900;
    font-size: var(--x-big);
    animation: floating2 10s ease-in-out infinite;
}

.section1 .left p {
    font-size: var(--big);
    font-weight: 400;
}

.learn-more {
    padding: .5rem 2rem;
    font-weight: 300;
    font-size: var(--big);
    text-transform: capitalize;

    background-color: var(--main-color);
    background: var(--action-btn-lr);
    border-radius: 4rem;
    color: var(--txt2);
}

.section1 .right {
    width: 40%;
}

.section1 .image-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.section1 .image-container .quest-mark {
    height: 40%;
    position: absolute;
    top: -38%;
    left: 50%;
    transform: translateX(-50%) rotate(3deg);
}

.section1 .image-container .girl {
    width: 80%;
    object-fit: contain;
}

/* ******************************************** */
.section2 {
    font-size: var(--parent-default);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;
}

.section2 .header {
    width: 100%;
    line-height: var(--big);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section2 .header p {
    margin-top: 1rem;
    font-size: var(--big);
    line-height: 2.5rem;
    text-align: center;
}

.section2 .body {
    width: 100%;
    min-height: var(--s2-body-height);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section2 .body .left {
    margin-right: var(--s2-left);
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    width: 46%;
    height: 50rem;

    position: relative;
}

.s2-circle {
    width: 50rem;
    height: 50rem;

    position: absolute;
    top: 0;
    left: -25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--main-color);
    background: var(--circle-lr);
}

.section2 .left .image-container {
    margin-left: var(--s2-left);
    width: 100%;
    height: 70%;
    transform: translateX(30%);
}

.section2 img {
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.section2 .right {
    margin-right: var(--s2-right);
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.features {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.feature,
.feature2 {
    white-space: nowrap;
    padding: 0 .5rem 0 3.1rem;
    text-align: center;
    height: 3rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: 2px solid var(--main-color);
    color: var(--txt2);
    text-transform: capitalize;
}

.feature2 {
    background-color: var(--main-color);
}

.feature p,
.feature2 p {
    font-size: var(--big);
    font-weight: 500;
    color: var(--main-color);
}

.feature2 p {
    color: var(--txt2);
}

.n {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    position: absolute;
    top: -2px;
    left: -2px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--txt);
    color: var(--txt2);
    border: 2px solid var(--txt);
    font-size: var(--big);
    font-weight: bold;
}

.s2-action {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 4rem;

    font-size: var(--big);
    background-color: var(--main-color);
    background: var(--action-btn-lr);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 400;
}

/* ******************************************** */

.section3 {
    overflow: hidden;
    margin-top: var(--section-margin);
    font-size: var(--parent-default);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section3 .partners {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section3 .partners .row1,
.section3 .partners .row2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section3 .partner {
    padding: 2px 40px;

    text-align: center;
    font-size: var(--x-big);
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
}

.section3 p {
    font-size: var(--big);
    color: var(--main-color);
    text-align: center;
}

/* ******************************************** */
.section4 {
    margin-top: var(--section-margin);
    font: var(--parent-default);

    display: flex;
    align-items: center;
    justify-content: center;
}

.s4-circle {
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 50%;

    position: relative;
    background-color: var(--main-color);
    background: var(--circle-lr);
}

.section4 .image-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.section4 .image-container img {
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}

/* ******************************************** */
.section5 {
    overflow: hidden;
    font-size: var(--parent-default);
    margin: var(--section-margin) auto 0 auto;
    width: 90%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section5 h2 {
    white-space: nowrap;
    font-size: var(--xx-big);
    text-transform: capitalize;
}

.section5 .circle-container {
    margin-top: 20px;
    height: 3rem;
    width: fit-content;
    padding: 1.3rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--main-color);
    background-color: var(--txt2);
    border-radius: 4rem;
}

.section5 .circle-container .circle {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.section5 .circle-container p {
    text-transform: capitalize;
    font-size: var(--x-big);
    font-weight: 600;
    color: var(--txt);
}

.section5>p {
    margin-top: 20px;

    width: 100%;
    font-size: var(--big);
    line-height: var(--big);
}

.s5-action {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 4rem;

    font-size: var(--big);
    background-color: var(--main-color);
    background: var(--action-btn-lr);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 500;
}

/* intersection observer */

.slide-from-left {
    transform: translateX(-25%);
}

.slide-from-right {
    transform: translateX(25%);
}

.rotate-from-top {
    transform: rotate(-45deg);
}

.fade-in {
    opacity: 0.3;
    transition: opacity 400ms ease-in, filter 400ms ease-in, transform 800ms ease-in;
}

.fade-in.appear {
    opacity: 1 !important;
    filter: grayscale(0) !important;
    transform: translateX(0) rotate(0) !important;
}

/* ******************************************** */

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, -3px) rotate(5deg);
    }

    50% {
        transform: translate(0, 5px) rotate(9deg);
    }

    100% {
        transform: translate(0, -3px) rotate(5deg);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

/* ********************************************************* */
@media (min-width: 1400px) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 29px;
    }
}

@media (max-width: 1100px) {
    html {
        font-size: 13px;
    }
}

@media (max-width:900px) {
    .section1 {
        flex-direction: column;
        align-items: center;
    }

    .section1 .left,
    .section1 .right {
        width: 90%;
    }

    .section1 .right {
        margin-top: var(--ssection-margin);
    }

    .section2 {
        margin-top: var(--section-margin);
    }

    .section2 .header {
        width: 90%;
    }

    .section2 .body {
        flex-direction: column;
    }

    .section2 .body .right {
        width: 90%;
        margin: var(--section-margin) auto 0 auto !important;
    }
}

@media (max-width:850px) {
    .lp-navbar {
        width: 95%;
    }

    .hero {
        margin-top: 5rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }

    .hero .left,
    .hero .right {
        width: 60%;
    }

    .hero .left {
        gap: .7rem;
        text-align: center;
        align-items: center;
    }

    .hero .hbtns {
        margin: 0 auto;
    }

    .ratings {
        margin: 0 auto !important;
    }
}

@media (max-width:750px) {

    .hero .left,
    .hero .right {
        width: 80%;
    }

    .lp-navbar {
        width: 90%;
        justify-content: space-between;
    }

    .lp-navlinks {
        display: none;
    }

    .lp-navbar .btns {
        display: none;
    }

    .lp-nav-btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 2.5rem;
        z-index: 1000;
    }

    .lp-mobile-nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 99;
        background-color: var(--txt2);
        transition: all 400ms;
    }

    .lp-mobile-nav.shown {
        left: 0;
    }

    .lp-mobile-navlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: var(--big);
    }

    .lp-mobile-navlinks .navlink {
        color: var(--main-color);
        margin: 10% 0;
    }

    .lp-mobile-nav .btns {
        flex-direction: column;
        align-items: stretch;
    }

    .lp-mobile-nav .mb-login {
        padding: 0 0 0 40%;
        border: 2px solid var(--main-color);
        color: var(--main-color);
        font-size: var(--big);
    }

    .lp-mobile-nav .icon {
        border: 2px solid var(--main-color);
        top: -2px;
        left: -2px;
    }

    .lp-mobile-nav .icon i {
        color: var(--main-color);
    }

    .lp-mobile-nav .mb-rq {
        font-size: var(--big);
        color: var(--txt2);
        background-color: var(--main-color);
        background: var(--circle-lr);
    }

    .mb-bar {
        width: 100%;
        height: 2px;
        margin: 3px 0;

        border-radius: 10px;
        background-color: var(--txt2);
        transition: all 300ms;
    }

    .mb-bar:nth-child(2) {
        width: 80%;
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
        background-color: var(--main-color);
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(2) {
        opacity: 0;
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        background-color: var(--main-color);
    }

    .section1 .left,
    .section1 .right {
        width: 90%;
    }

    .section2 .body .right {
        width: 90%;
    }

}

@media (max-width:650px) {
    * {
        white-space: normal !important;
    }

    .line-nowrap {
        display: inline;
        white-space: normal;
    }

    .hero-circle {
        height: var(--mb-hero-circle-height);
    }

    .hero .left,
    .hero .right {
        width: 80%;
    }

    .section2 .body .right {
        width: 90%;
    }

    .section3 .partners .row1,
    .section3 .partners .row2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .row2 .partner:last-child {
        grid-column: span 2;
    }

    .s4-circle {
        width: 85vw;
        height: 85vw;
    }
}

@media (max-width:500px) {

    .hero .left,
    .hero .right {
        width: 90%;
    }

    .mb-title {
        white-space: normal;
    }

    .section2 .header {
        width: 90%;
    }

    .section2 .header p {
        width: 100%;
    }

    .section2 .body .left {
        width: 90%;
    }

    .section2 .right {
        margin: 0;
        width: 90%;
    }

    .features {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .feature,
    .feature2 {
        background-color: var(--txt2);
        color: var(--txt2);
    }

    .feature:nth-of-type(2n) {
        background-color: var(--main-color);
    }

    .feature p,
    .feature2 p {
        color: var(--main-color);
    }

    .feature:nth-of-type(2n) p {
        color: var(--txt2);
    }

}

@media (max-width:425px) {
    html {
        font-size: 11px;
    }

    .hero-circle {
        clip-path: none;
    }

    .section1 {
        margin-top: var(--section-margin);
    }
}

@media (max-width:325px) {

    .section1 .left,
    .section1 .right {
        width: 90%;
    }

    .section1 h2::before {
        top: -10px;
        right: -0.7em;
        transform: rotate(15deg);
        font-weight: 600;
    }

    .section2 .body .left .image-container {
        transform: translateX(25%);
    }

    .section3 .partners .row1,
    .section3 .partners .row2 {
        grid-template-columns: 1fr;
    }

    .row2 .partner:last-child {
        grid-column: span 1;
    }
}

@media (max-width:300px) {
    html {
        font-size: 10px;
    }

    .ratings .stars {
        display: none;
    }

    .ratings p {
        margin-left: 5rem;
    }

    .hbtns {
        flex-direction: column;
        gap: 1em;
    }

    .section5 .circle-container {
        height: 2.5rem;
        padding: 1rem;
    }

    .section5 .circle-container .circle {
        width: 2.6rem;
        height: 2.6rem;
    }

    .section5 .circle-container p {
        font-size: var(--big);
    }
}

@media (max-width:250px) {
    .lp-navbar {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:200px) {
    .section5 .circle-container .circle {
        width: .3rem;
        height: 2.6rem;
        border-radius: 0;
    }

    .feature p {
        font-size: var(--default);
    }

    .section5 .circle-container p {
        font-size: var(--default);
    }
}