:root {
    --mb-hero-right-height: 45%;
    --section1-height: auto;
    --s2-body-height: 52rem;

    --section-margin: 150px;
}

body {
    background-color: white;
    overflow-x: hidden !important;
    width: 100vw;
}

.line-nowrap {
    width: 100%;
    white-space: nowrap;
    display: block;
}

/* ************************************* */

.loader {
    background-color: white;
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid white;

    animation: spin 1s linear infinite;
}

.hide-overflow {
    overflow: hidden !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ****************************** */

.mb-title {
    padding: 0 0 10px 0;

    font-size: var(--xx-big);
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    font-weight: 800 !important;
    white-space: nowrap;
}

.mb-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--main-color);
    width: 90%;
    height: .5rem;
    border-radius: 1rem;
}

/* ********************************* */

.hero-wrapper {
    width: 100vw;
    background-color: var(--main-color);
    background: var(--circle-lr);
    font-size: var(--parent-default);
}

.lp-mobile-nav {
    display: none;
}

.lp-nav-btn {
    display: none;
}

.lp-navbar {
    margin: 0 auto;
    font-size: var(--default);
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    /* font  */
    font-size: var(--big);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--txt2);

    /* image  */
    height: 6rem;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.lp-navlinks {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    font-size: var(--default);
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--txt2);
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mb-login {
    padding: .3rem 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;

    border: 2px solid var(--txt2);
    border-radius: 9px;

    color: var(--txt2);

    font-weight: 400;
    font-size: var(--default);
    text-transform: capitalize;
}

.mb-rq {
    padding: .3rem 1rem;

    background-color: var(--txt2);
    border-radius: 9px;

    color: var(--main-color);

    font-weight: 700;
    font-size: var(--default);
}

.hero {
    margin: 3rem auto 0 auto;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.hero .left {
    width: 45%;

    color: var(--txt2);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main-mb-title {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: var(--x-big);
    font-weight: 800;
}

.hero .left>p {
    font-size: var(--big);
    line-height: 1.1em;
    font-weight: 300;
}

.hbtns {
    margin-top: 20px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .action-btn {
    font-size: var(--default);
    text-transform: capitalize;
    background-color: var(--txt2);
    color: var(--main-color);
    padding: .4em 1em;
    border-radius: 2rem;
    font-weight: 600;
}

.hero .action-btn2 {
    font-size: var(--default);
    color: var(--txt2);
    text-transform: capitalize;
    font-weight: 300;
}

.hero .action-btn i,
.hero .action-btn2 i {
    margin-right: 10px;
}

.hero .ratings {
    font-size: var(--default);
    margin-top: 1rem;
    width: fit-content;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: 1px solid var(--txt2);
    border-radius: 9px;
}

.hero .stars {
    color: var(--yellow);
}

.hero .stars i {
    font-size: var(--small);
    margin-left: -3px;
}

.hero .ratings p {
    font-weight: 300;
    font-size: var(--small);
}

.hero .right {
    width: 45%;

    position: relative;
}

.hero .right img {
    width: 100%;
    object-fit: cover;
}

.floating-img1 {
    width: 12rem;

    position: absolute;
    top: -15%;
    left: 50%;
}

.floating-img1 img {
    object-fit: contain;
    width: 100%;
}

.floating-img2 {
    width: 12rem;

    position: absolute;
    bottom: -20%;
    left: 5%;
}

.floating-img2 img {
    object-fit: contain;
    width: 100%;
}

/*  */

.hero .right {
    width: 45%;
    height: var(--mb-hero-right-height);

    position: relative;
}

.hero .inputs {
    width: .1px !important;
    height: .1px !important;

    display: inline !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;

    pointer-events: none !important;
    opacity: 0 !important;
}

/* ******************************************** */

.section1 {
    margin-top: var(--section-margin);
    height: var(--section1-height);
    font-size: var(--parent-default);

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    overflow: hidden;
}

.section1 .left {
    margin-top: 30px;
    line-height: var(--xx-big);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.section1 h2::before {
    content: '?';
    position: absolute;
    top: -10px;
    right: -0.75em;
    transform: rotate(20deg);

    color: var(--main-color);
    font-weight: 900;
    font-size: var(--x-big);
    animation: floating2 10s ease-in-out infinite;
}

.section1 .left p {
    font-size: var(--big);
    font-weight: 400;
}

.learn-more {
    padding: .5rem 2rem;
    font-weight: 300;
    font-size: var(--big);
    text-transform: capitalize;

    background-color: var(--main-color);
    background: var(--action-btn-lr);
    border-radius: 10px;
    color: var(--txt2);
}

.section1 .right {
    width: 45%;
}

.section1 .image-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.section1 .image-container .picture {
    width: 80%;
    object-fit: contain;
}

.section1 .image-container .small-picture {
    height: 35%;

    position: absolute;
    right: 10%;
    bottom: -10%;
}

/* ******************************************** */
.section2 {
    margin-top: var(--section-margin);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;

    font-size: var(--parent-default);
}

.section2 .header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .header p {
    margin-top: 1rem;
    font-size: var(--big);
    text-align: center;
}

.section2 .body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section2 .group {
    padding: 2rem 1.5rem;
    width: 90%;

    display: flex;
    gap: 5%;

    background-color: rgb(227, 235, 255);
    border-radius: 15px;
}

.section2 .group .description {
    width: 45%;
    font-size: var(--big);
}

.section2 .group .description h2 {
    text-transform: capitalize;
    font-size: var(--big);
}


.section2 .group .features {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section2 .group .feature {
    padding: 1rem;

    background-color: var(--txt2);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;

    font-size: var(--big);
    text-align: center;
}

.section2 .group .feature.blue {
    background-color: var(--main-color);
    color: var(--txt2);
}

/* ******************************************** */

.section3 {
    margin-top: var(--section-margin);
    width: 100%;
    font-size: var(--parent-default);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    overflow: hidden;
}

.section3 .top {
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section3 .left {
    line-height: var(--xx-big);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.section3 .left p {
    font-size: var(--big);
    font-weight: 400;
}

.section3 .right {
    width: 40%;
}

.section3 .image-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.section3 .image-container img {
    width: 100%;
    object-fit: contain;
}

.section3 .bottom {
    padding: 1rem;
    width: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: rgb(227, 235, 255);
    border-radius: 15px;
}

.section3 .reason {
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: .5rem;

    background-color: var(--txt2);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;

    font-size: var(--default);
    text-align: center;
}

.section3 .reason i {
    color: var(--main-color);
}

/* ******************************************** */

.section4 {
    overflow: hidden;
    margin-top: var(--section-margin);
    font-size: var(--parent-default);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section4 .partners {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section4 .partners .row1,
.section4 .partners .row2 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section4 .partner {
    padding: 2px 40px;

    text-align: center;
    font-size: var(--x-big);
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
}

.section4 p {
    font-size: var(--big);
    color: var(--main-color);
    text-align: center;
}

/* *********************************** */

.section5 {
    margin-top: var(--section-margin);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section5 p {
    font-size: var(--big);
}

.section5 form input {
    margin-top: 1.5rem;
    padding: 10px;
    width: 100%;

    border: 1px solid black;
    border-radius: 15px;
}

.section5 form .sub {
    margin-top: 1rem;
    padding: 10px;
    width: 100%;

    background-color: var(--main-color);
    color: var(--txt2);
    border-radius: 15px;
    font-weight: 300;
}

/* ************************************* */

footer {
    padding: 1rem 0;
    margin-top: var(--section-margin);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-color);
    background: var(--circle-lr);
}

footer .flogo img {
    height: 7rem;
    object-fit: contain;
    width: 100%;
}

footer .mini-title {
    margin-top: 2rem;
    padding: 1rem 1.5rem;

    background-color: var(--txt2);
    color: var(--main-color);
    border-radius: 4rem;

    font-weight: 700;
    font-size: var(--big);
    text-align: center;
}

.footer-description {
    margin-top: 1rem;
    width: 50%;

    color: var(--txt2);

    text-align: center;
    font-size: var(--big);
    line-height: var(--x-big);
}

.footer-links {
    margin-top: 2rem;
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links a {
    color: var(--txt2);

    font-size: var(--big);
    text-transform: capitalize;
    font-weight: 200;
}

.social-links {
    margin-top: 1.5rem;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.social-links a i {
    color: var(--txt2);
    font-size: var(--x-big);
}

.copy-right {
    margin-top: 4rem;
    color: var(--txt2);
    font-weight: 300;
}

/* intersection observer */

.slide-from-left {
    transform: translateX(-25%);
}

.slide-from-right {
    transform: translateX(25%);
}

.pop {
    opacity: 0;
    transform: scale(0.75);
}

.fade-in {
    opacity: 0.3;
    transition: opacity 400ms ease-in, filter 400ms ease-in, transform 800ms ease-in;
}

.fade-in.appear {
    opacity: 1 !important;
    filter: grayscale(0) !important;
    transform: translateX(0) rotate(0) !important;
}

/* ******************************************** */

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, -3px) rotate(5deg);
    }

    50% {
        transform: translate(0, 5px) rotate(9deg);
    }

    100% {
        transform: translate(0, -3px) rotate(5deg);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

/* ********************************************************* */

@media (max-width:950px) {
    .section2 .group {
        flex-direction: column;
        gap: 1rem;
    }

    .section2 .group:nth-child(2) {
        flex-direction: column-reverse;
    }

    .section2 .group .description,
    .section2 .group .features {
        width: 100%;
    }

    .section3 .top {
        flex-direction: column;
        align-items: center;
    }

    .section3 .top .left,
    .section3 .top .right {
        width: 100%;
    }
}

@media (max-width:900px) {
    .section1 {
        flex-direction: column;
        align-items: center;
    }

    .section1 .left,
    .section1 .right {
        width: 90%;
    }

    .section1 .right {
        margin-top: var(--section-margin);
    }

    .section2 .header {
        width: 90%;
    }

    .footer-description {
        width: 75%;
    }
}

@media (max-width:850px) {
    .lp-navbar {
        width: 95%;
    }

    .hero {
        margin-top: 5rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }

    .hero .left,
    .hero .right {
        width: 90%;
    }

    .hero .left {
        gap: .7rem;
        text-align: center;
        align-items: center;
    }

    .hero .hbtns {
        margin: 0 auto;
    }

    .ratings {
        margin: 0 auto !important;
    }
}

@media (max-width:750px) {

    .lp-navbar {
        width: 90%;
        justify-content: space-between;
    }

    .lp-navlinks {
        display: none;
    }

    .lp-navbar .btns {
        display: none;
    }

    .lp-nav-btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 2.5rem;
        z-index: 1000;
    }

    .lp-mobile-nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        z-index: 99;
        background-color: var(--txt2);
        transition: all 400ms;
    }

    .lp-mobile-nav.shown {
        left: 0;
    }

    .lp-mobile-navlinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: var(--big);
    }

    .lp-mobile-navlinks .navlink {
        color: var(--main-color);
        margin: 10% 0;
    }

    .lp-mobile-nav .btns {
        flex-direction: column;
        align-items: stretch;
    }

    .lp-mobile-nav .mb-login {
        padding: 0 0 0 40%;
        border: 2px solid var(--main-color);
        color: var(--main-color);
        font-size: var(--big);
    }

    .lp-mobile-nav .icon {
        border: 2px solid var(--main-color);
        top: -2px;
        left: -2px;
    }

    .lp-mobile-nav .icon i {
        color: var(--main-color);
    }

    .lp-mobile-nav .mb-rq {
        font-size: var(--big);
        color: var(--txt2);
        background-color: var(--main-color);
        background: var(--circle-lr);
    }

    .mb-bar {
        width: 100%;
        height: 2px;
        margin: 3px 0;

        border-radius: 10px;
        background-color: var(--txt2);
        transition: all 300ms;
    }

    .mb-bar:nth-child(2) {
        width: 80%;
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
        background-color: var(--main-color);
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(2) {
        opacity: 0;
    }

    .lp-nav-btn.navbar-shown .mb-bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        background-color: var(--main-color);
    }

    .section3 .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        text-align: center;
        font-size: var(--default);
    }

    .footer-links {
        width: 90%;
    }
}

@media (max-width:650px) {
    .line-nowrap {
        display: inline;
        white-space: normal;
    }

    .hero .left,
    .hero .right {
        width: 90%;
    }

    .section4 .partners .row1,
    .section4 .partners .row2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .row2 .partner:last-child {
        grid-column: span 2;
    }

    .footer-description {
        width: 95%;
    }

    .footer-links {
        width: 95%;
    }
}

@media (max-width:500px) {

    .mb-title {
        white-space: normal;
    }

    .floating-img1,
    .floating-img2 {
        width: 10rem;
    }

    .section2 .header {
        width: 90%;
    }

    .section2 .header p {
        width: 100%;
    }
}

@media (max-width:425px) {
    .section2 .group .features {
        grid-template-columns: 1fr;
    }

    .section3 .bottom {
        grid-template-columns: 1fr;
    }

    .mini-title {
        width: 90%;
    }

    .footer-links {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width:325px) {

    .section1 h2::before {
        top: -10px;
        right: -0.7em;
        transform: rotate(15deg);
        font-weight: 600;
    }

    .section4 .partners .row1,
    .section4 .partners .row2 {
        grid-template-columns: 1fr;
    }

    .row2 .partner:last-child {
        grid-column: span 1;
    }
}

@media (max-width:300px) {
    .hbtns {
        flex-direction: column;
        gap: 1em;
    }

    .section5 form {
        width: 90%;
    }
}

@media (max-width:250px) {
    .lp-navbar {
        flex-direction: column;
        align-items: center;
    }
}