.nav-wrapper {
    padding-bottom: 3rem;
    width: 100%;
    border-radius: 0 0 100px 100px;

    background-color: var(--main-color);
    background: var(--circle-lr);
}

.mb-title {
    margin: 0 auto;
    margin-top: 5rem;
    color: var(--txt2);
}

.mb-title::after {
    background-color: var(--txt2);
    width: 50%;
}

.section {
    margin: 5rem 0;
}

.packs {
    margin: 0 auto;
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.pack {
    border-radius: 15px;
    padding: 2rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.pack2 {
    position: relative;
    overflow: hidden;
}

.pack2 .badge {
    width: 50%;
    padding: .3em;

    position: absolute;
    top: var(--badge-top);
    right: var(--badge-right);
    transform: rotate(45deg);

    color: var(--txt2);
    background-color: var(--main-color);

    font-size: var(--default);
    font-weight: 700;
    text-align: center;
}

.pack3 {
    grid-column: span 2;

    display: flex;
    gap: 5%;
}

.pack3 .content:first-child {
    width: 60%;
}

.pack3 .content:nth-child(2) {
    padding-top: var(--c2);
    width: 35%;
}

.pack3 .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pack .features {
    margin-bottom: 1rem;
}

.pack-title {
    padding: 0 0 10px 0;

    font-size: var(--x-big);
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    font-weight: 800 !important;
    white-space: nowrap;
    text-align: center;
    color: var(--txt);
}

.pack-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--main-color);
    width: 40%;
    height: .5rem;
    border-radius: 1rem;
}

.pack-mini-desc {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: var(--mini-desc);
    font-size: var(--default);
}

.feature {
    width: fit-content;
    margin: .7rem 0;

    font-size: var(--big);
}

.check-mark {
    margin-right: .5rem;
    padding: 4px 5px;
    border-radius: 50%;

    color: var(--txt2);
    background-color: var(--main-color);

    font-size: .7rem;
}

.action {
    width: 100%;
    padding: .5em 1em;
    border-radius: 9px;

    color: var(--txt2);
    background-color: var(--main-color);
    background: var(--action-btn-lr);

    text-transform: capitalize;
    font-size: var(--default);
    font-weight: bold;
    text-align: center;
}

.pack-large-desc {
    margin-bottom: 1rem;
    font-size: var(--default);
}

.terms {
    width: 90%;
    margin: 4rem auto 0 auto;
    font-size: var(--big);
}

@media (max-width:760px) {
    .packs {
        grid-template-columns: 1fr;
    }

    .pack .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pack3 {
        grid-column: span 1;
        flex-direction: column;
        gap: 1rem;
    }

    .pack3 .content:first-child {
        width: 100%;
    }

    .pack3 .content:nth-child(2) {
        width: 100%;
        padding: 0;
    }

    .pack-mini-desc {
        width: 100%;
    }
}

@media (max-width:520px) {
    .mb-title {
        white-space: normal;
    }

    .pack-title {
        white-space: normal;
    }

    .pack .features {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width:340px) {
    .nav-wrapper {
        border-radius: 0;
    }
}

@media (max-width:251px) {
    .pack-title::after {
        left: 50%;
        transform: translate(-50%);
        width: 50%;
    }
}